@font-face {
    font-family: lucida;
    src: url("assets/fonts/lucida_sans/l_10646.ttf");
}

@font-face {
    font-family: 'Segoe WP';
    src: url('assets/fonts/segoe-wp/SegoeWP.ttf');
}

@font-face {
    font-family: 'Asap Regular';
     src: url('assets/fonts/asap regular/Asap-Regular.otf');
}

*{
    padding: 0;
    margin: auto;
}

body {
    width: 1300px;
}

main {
    background-image: url("assets/images/background.png");
    height: 566px;
}

/* HEADER */

.header {
    position: relative;
    height: 140px;
    max-width: 1040px;
    margin-bottom: 28px;
}

.logo-1 {
    position: absolute;
    padding-left: 10px;
    padding-top: 28px;
}

.logo-2 {
    position: absolute;
    padding-left: 12px;
    padding-top: 29px;
}

h1 {
    padding-left: 97px;
    padding-top: 45px;
    font-family: "lucida";
    font-style: italic;
    font-size: 41px;
    font-weight: normal;
    text-align: left;
    color: #ffffff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
}

.navbar {
    position: absolute;
    margin-left: 577px;
    margin-top: 71px;
    box-shadow: -4px -5px 0px 0px rgba(245, 197, 6, 0.27), -8px -8px 0px 0px rgba(245, 197, 6, 0.27);
}

/* nav buttons */

.navbar button {
    position: relative;
    padding: 0;
    font-family: 'Segoe WP';
    font-size: 17px;
    color: #9b7d08;
    border: 0;
    background-color: #f5c506;
    z-index: 3;
}

button img {
    position: absolute;
}

/* lines between buttons */

.button-line-1 {
    position: absolute;
    width: 307px;
    height: 40px;
    background-color: rgb(220,177,5);
    z-index: 2;
}

.button-line-2 {
    position: absolute;
    width: 307px;
    height: 1px;
    margin-top: 40px;
    background-color: #f5c506;
    z-index: 1;
}

#about {
    width: 172px;
    height: 41px;
    margin-right: -3px;
    padding-bottom: 1px;
    padding-left: 70px;
    text-align: left;
}

#services {
    width: 132px;
    height: 41px;
    margin-right: -3px;
    padding-bottom: 1px;
    padding-left: 42px;
    text-align: left;
}

#contact{
    width: 147px;
    height: 41px;
    padding-bottom: 1px;
    padding-left: 49px;
    text-align: left;
}

#about:hover,
#services:hover,
#contact:hover {
    border: 1px solid rgb(155,125,8);
    box-shadow: 0px 0px 10px 1px rgba(155,125,8,0.75);
}

#about img {
    left: 39px;
    top: 11px;
}

#services img {
    left: 14px;
    top: 11px;
}

#contact img {
    left: 17px;
    top: 11px;
}

/* SLIDER */

/*slider buttons*/

.left-slider {
    position: absolute;
    width: 32px;
    height: 57px;
    top: 300px;
    text-align: center;
    border: 0;
    background-color: #c5a10b;
}

.left-slider img {
    left: 8px;
    top: 19px;
}

.right-slider {
    position: absolute;
    width: 32px;
    height: 57px;
    margin-left: 1268px;
    top: 300px;
    text-align: center;
    border: 0;
    background-color: #f5c506;
}

.right-slider img {
    left: 11px;
    top: 18px;
}

.left-slider:hover,
.right-slider:hover {
    border: 1px solid rgb(155,125,8);
    box-shadow: 0px 0px 10px 1px rgba(155,125,8,0.75);
}

/* video and heading */

.slider-content {
    width: 1040px;
}

.video {
    position: relative;
    display: inline-block;
    width: 549px;
    height: 327px;
    margin-left: 20px;
}

video {
    width: 549px;
    height: 327px;
}

h2 {
    font-family: 'Asap Regular';
    font-size: 63px;
    font-weight: 200;
    text-align: center;
}

.cool {
    position: relative;
    display: inline-block;
    bottom: 192px;
    left: 86px;
    color: #f5c506;
}   

.minimal {
    position: relative;
    display: inline-block;
    left: 619px;
    bottom: 195px;
    color: white;
}