@font-face {
    font-family: 'lucida';
    src: url("assets/fonts/lucida_sans/l_10646.ttf");
}

@font-face {
    font-family: 'Segoe WP';
    src: url('assets/fonts/segoe-wp/SegoeWP.ttf');
}

@font-face {
    font-family: 'Segoe WP Light';
    src: url('assets/fonts/segoe-wp-light/segoe-wp-light.ttf');
}

@font-face {
    font-family: 'Asap Regular';
     src: url('assets/fonts/asap regular/Asap-Regular.otf');
}

@font-face {
    font-family: 'pt_sansregular';
    src: url('assets/fonts/ptsans/PTS55F-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sans_narrowbold';
    src: url("assets/fonts/ptsansnarrowbold/PTN77F-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('assets/fonts/opensans/OpenSans-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}





*{
    padding: 0;
    margin: auto;
}

body {
    width: 1300px;
}

.main {
    background-image: url("assets/images/background.png");
    height: 566px;
}

@media screen and (max-width: 640px) {
    body {
        width: 640px;
    }

    .main {
        height: 148px;
    }
}

/* HEADER */

.header {
    position: relative;
    height: 140px;
    max-width: 1040px;
    margin-bottom: 28px;
}

.logo {
    position: absolute;
    padding-left: 9px;
    padding-top: 27px;
}

h1 {
    position: absolute;
    padding-left: 97px;
    padding-top: 45px;
    font-family: "lucida";
    font-style: italic;
    font-size: 41px;
    font-weight: normal;
    text-align: left;
    color: #ffffff;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
}

.navbar {
    position: absolute;
    margin-left: 577px;
    margin-top: 71px;
    box-shadow: -4px -5px 0px 0px rgba(245, 197, 6, 0.27), -8px -8px 0px 0px rgba(245, 197, 6, 0.27);
}

@media screen and (max-width: 640px) {
    .header {
        height: 62px;
        background: linear-gradient(to bottom, #626262 0%,#464646 100%);
        margin: 0;
    }

    .logo {
        position: relative;
        width: 40px;
        height: 39px;
        padding-left: 12px;
        padding-top: 11px;
    }
    h1 {
        position: relative;
        display: inline-block;
        bottom: 10px;
        right: 17px;
        padding: 0 0 0 18px;
        font-size: 19.3px;
    }

    .navbar {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 454px;
        margin: 0 0 0 4px;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        bottom: 12px;
    }


}

/* nav buttons */

.navbar button {
    position: relative;
    padding: 0;
    font-family: 'Segoe WP';
    font-size: 17px;
    color: #9b7d08;
    border: 0;
    background-color: #f5c506;
    z-index: 3;
}

button img {
    position: absolute;
}

/* lines between buttons */

.button-line-1 {
    position: absolute;
    width: 307px;
    height: 40px;
    background-color: rgb(220,177,5);
    z-index: 2;
}

.button-line-2 {
    position: absolute;
    width: 307px;
    height: 1px;
    margin-top: 40px;
    background-color: #f5c506;
    z-index: 1;
}

#about {
    width: 172px;
    height: 41px;
    margin-right: -3px;
    padding-bottom: 1px;
    padding-left: 70px;
    text-align: left;
}

#services {
    width: 132px;
    height: 41px;
    margin-right: -3px;
    padding-bottom: 1px;
    padding-left: 42px;
    text-align: left;
}

#contact{
    width: 147px;
    height: 41px;
    padding-bottom: 1px;
    padding-left: 49px;
    text-align: left;
}

#about:hover,
#services:hover,
#contact:hover {
    border: 1px solid rgb(155,125,8);
    box-shadow: 0px 0px 10px 1px rgba(155,125,8,0.75);
}

#about img {
    left: 39px;
    top: 11px;
}

#services img {
    left: 14px;
    top: 11px;
}

#contact img {
    left: 17px;
    top: 11px;
}

@media screen and (max-width: 640px) {
    .navbar button {
        display: inline-block;
        height: 100%;
        font-size: 19px;
    }

    .navbar img {
        height: 24px;
        width: 22px;
    }

    #about {
        width: 171px;
        height: 100%;
        margin: 0;
        padding-bottom: 0;
        padding-left: 70px;
        vertical-align: bottom;
        text-align: left;
    }
    
    #services {
        width: 132px;
        height: 100%;
        margin: 0;
        padding-bottom: 0;
        margin-left: -3px;
        padding-left: 42px;
        text-align: left;
    }
    
    #contact{
        width: 149px;
        height: 100%;
        margin: 0;
        margin-left: -3px;
        padding-bottom: 0;
        padding-left: 49px;
        text-align: left;
    }

    .button-line-1 {
        height: 100%;
    }

}


/* SLIDER */

/*slider buttons*/

.left-slider {
    position: absolute;
    width: 32px;
    height: 57px;
    top: 300px;
    text-align: center;
    border: 0;
    background-color: #c5a10b;
}

.left-slider img {
    left: 8px;
    top: 19px;
}

.right-slider {
    position: absolute;
    width: 32px;
    height: 57px;
    margin-left: 1268px;
    top: 300px;
    text-align: center;
    border: 0;
    background-color: #f5c506;
}

.right-slider img {
    left: 11px;
    top: 18px;
}

.left-slider:hover,
.right-slider:hover {
    border: 1px solid rgb(155,125,8);
    box-shadow: 0px 0px 10px 1px rgba(155,125,8,0.75);
}

/* video and heading */

.slider-content {
    width: 1040px;
    height: 398px;
}

.video {
    position: relative;
    display: inline-block;
    width: 549px;
    height: 327px;
    margin-left: 20px;
}

.video-mobile {
    display: none;
}

video {
    width: 549px;
    height: 327px;
}

h2 {
    font-family: 'Asap Regular';
    font-size: 63px;
    font-weight: 200;
    text-align: center;
}

.cool {
    position: relative;
    display: inline-block;
    bottom: 192px;
    left: 86px;
    color: #f5c506;
}   

.minimal {
    position: relative;
    display: inline-block;
    left: 619px;
    bottom: 195px;
    color: white;
}

@media screen and (max-width: 640px) {
    .slider button,
    .cool,
    .minimal,
    .right-slider,
    .left-slider {
        display: none;
    }

    .header {
        height: 62px;
    }
    .logo {
        position: relative;
        width: 40px;
        height: 39px;
        padding-left: 12px;
        padding-top: 11px;
    }

    .slider {
        position: relative;
        display: inline-block;
        width: 640px;
        height: 327px;
    }

    .slider-content {
        position: relative;
        display: inline-block;
        width: 640px;
        height: 327px;
    }

    .video {
        position: relative;
        display: inline-block;
        top: 0;
        left: 0;
        width: 549px;
        height: 327px;
        margin: 0;
    }
    
    video {
        width: 640px;
        height: 327px;
    }

    .video-desktop {
        display: none;
    }

    .video-mobile {
        display: inline-block;
    }
}

/* advantages */

.advantages {
    position: relative;
    width: 1300px;
    height: 212px;
    box-shadow: 0px -1px 6px 1px rgba(0,0,0,0.5);
    background-image: url("assets/images/advan-back.png");
    z-index: 2;
}

.advantages-content {
    width: 1021px;
}

h3 {
    position: relative;
    font-family: "Segoe UI";
    font-weight: 100;
    font-size: 27.05px;
}

h3:nth-child(1) {
    left: 89px;
    bottom: 39px;
}

.better-design h3 {
    left: 86px;
    top: 66px;
}

.customise h3 {
    left: 106px;
    top: 46px;
}

.its-free h3 {
    left: 109px;
    top: 58px;
}

.better-design {
    display: inline-block;
    width: 340px;
    height: 212px;
    vertical-align: bottom;
    border-left: 1px solid rgba(0, 0, 0, 0.14);
    border-right: 1px solid rgba(0, 0, 0, 0.14);
}

.customise {
    display: inline-block;
    width: 334px;
    height: 212px;
    vertical-align: bottom;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
}

.its-free {
    display: inline-block;
    width: 335px;
    height: 212px;
    vertical-align: bottom;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
}

.better-design img {
    position: relative;
    left: 112.5px;
    top: 61px;
}

.customise img {
    position: relative;
    left: 130px;
    top: 37px;
}

.its-free img {
    position: relative;
    left: 115px;
    top: 54px;
}

@media screen and (max-width: 640px) {
    .advantages {
        display: inline-block;
        position: relative;
        width: 640px;
        height: 165px;
        margin-top: -3px;
        /* box-shadow: 0px -1px 6px 1px rgba(0,0,0,0.5); */
        background-image: url("assets/images/advan-back.png");
        z-index: 2;
    }
    
    .advantages-content {
        width: 640px;
        height: 165px;
    }

    .better-design {
        display: inline-block;
        width: 33%;
        height: 165px;
        vertical-align: bottom;
        border-left: 0;
        border-right: 0;
    }
    
    .customise {
        display: inline-block;
        width: 33%;
        height: 165px;
        vertical-align: bottom;
        border-right: 0;
    }
    
    .its-free {
        display: inline-block;
        width: 32%;
        height: 165px;
        vertical-align: bottom;
        border-right: 0;
    }

    h3 {
        position: relative;
        font-family: "Segoe UI";
        font-weight: 100;
        font-size: 23px;
    }

    .better-design h3 {
        left: 17px;
        top: 45px;
    }
    
    .customise h3 {
        left: 54px;
        top: 37px;
    }
    
    .its-free h3 {
        left: 64px;
        top: 37px;
    }

    .better-design img {
        position: relative;
        width: 89px;
        height: 61px;
        left: 45px;
        top: 33px;
    }
    
    .customise img {
        position: relative;
        width: 67px;
        height: 69px;
        left: 80px;
        top: 29px;
    }
    
    .its-free img {
        position: relative;
        width: 68px;
        height: 69px;
        left: 67px;
        top: 29px;
    }

}

/* RANGE-CONTENT */

.range {
    position: relative;
    background-image: url("assets/images/range-back.png");
    height: 508px;
    width: 1300px;
    z-index: 1;
}

.range-content {
    height: 508px;
    width: 1040px;
    z-index: 1;
}

h4 {
    padding-left: 11px;
    padding-top: 32px;
    font-family: "pt_sansregular";
    font-size: 37px;
    font-weight: normal;
    color: white;
}

.main-content {
    height: 233px;
    margin: 31px 0 0 9px;
    text-align: left;
}

.video-desc {
    display: inline-block;
    width: 311px;
    height: 217px;
    padding-left: 30px;
    padding-top: 16px;
    font-family: "Segoe WP Light";
    font-size: 29px;
    font-weight: 10;
    color: white;
    background-color: #ec9e03;
    vertical-align: top;
}

.main-content video {
    display: inline-block;
    position: relative;
    top: 0;
    width: 315px;
    height: 232px;
    margin-left: -4px;
    margin-right: 30px;
    vertical-align: top;
}

input[type="button"]:first-child {
    position: absolute;
    width: 11px;
    height: 11px;      
    top: 319px;
    left: 455px;
    border: 0;
    background: url("assets/images/plus.svg") no-repeat top;
}

input[type="button"]:first-child:hover {
    border: 1px solid black;
}

.twitter {
    display: inline-block;
    width: 329px;
    height: 233px;
    vertical-align: top;
    background-color: #ec9e03;
}

.twitter img {
    position: relative;
    left: 54px;
    top: 59px;
}

.number {
    position: relative;
    bottom: 99px;
    left: 286px;
    font-family: "Segoe WP Light";
    font-size: 25px;
    color: white;
}

.twitter input[type="button"]{
    position: absolute;
    width: 11px;
    height: 11px;      
    top: 319px;
    left: 1138px;
    border: 0;
    background: url("assets/images/plus.svg") no-repeat top;
}

.twitter input[type="button"]:hover {
    border: 1px solid black;
}

.calendar {
    position: relative;
    display: inline-block;
    width: 113px;
    height: 86px;
    font-family: "Segoe UI";
    background-color: #ddb101;
}

.day {
    position: relative;
    bottom: 2px;
    left: 30px;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.month {
    position: relative;
    bottom: 13px;
    left: 32px;
    font-size: 21px;
    font-weight: normal;
    color: #b26529;
}

.slidecontainer {
    width: 896px; 
    margin-left: 73px;
    margin-top: 40px;
  }


  
/* input range */

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0px 0;
  }
input[type=range]:focus {
    outline: none;
  }
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    box-shadow: 1.8px 1.8px 1px rgba(0, 0, 0, 0), 0px 0px 1.8px rgba(13, 13, 13, 0);
    background: #3071a9;
    border-radius: 9px;
    border: 0px solid rgba(1, 1, 1, 0);
  }
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 16px;
    width: 197px;
    border-radius: 9px;
    background: #ec9e03;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
  }
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3071a9;
  }
input[type=range]::-moz-range-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    box-shadow: 1.8px 1.8px 1px rgba(0, 0, 0, 0), 0px 0px 1.8px rgba(13, 13, 13, 0);
    background: #3071a9;
    border-radius: 9px;
    border: 0px solid rgba(1, 1, 1, 0);
  }
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 15px;
    width: 197px;
    border-radius: 9px;
    background: #ec9e03;
    cursor: pointer;
  }
input[type=range]::-ms-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
input[type=range]::-ms-fill-lower {
    background: #3071a9;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 18px;
    box-shadow: 1.8px 1.8px 1px rgba(0, 0, 0, 0), 0px 0px 1.8px rgba(13, 13, 13, 0);
  }
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 18px;
    box-shadow: 1.8px 1.8px 1px rgba(0, 0, 0, 0), 0px 0px 1.8px rgba(13, 13, 13, 0);
  }
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 197px;
    border-radius: 9px;
    background: #ec9e03;
    cursor: pointer;
    height: 15px;
  }
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
input[type=range]:focus::-ms-fill-upper {
    background: #3071a9;
  }
  
/* input range */

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0px 0;
  }
input[type=range]:focus {
    outline: none;
  }
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: #fae693;
    border-radius: 9px;
    border: 0;
  }
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 15px;
    width: 197px;
    border-radius: 9px;
    background: #ec9e03;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
  }
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fae693;
  }
input[type=range]::-moz-range-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    box-shadow: 1.8px 1.8px 1px rgba(0, 0, 0, 0), 0px 0px 1.8px rgba(13, 13, 13, 0);
    background: #fae693;
    border-radius: 9px;
    border: 0px solid rgba(1, 1, 1, 0);
  }
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 15px;
    width: 197px;
    border-radius: 9px;
    background: #ec9e03;
    cursor: pointer;
  }
input[type=range]::-ms-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
input[type=range]::-ms-fill-lower {
    background: #fae693;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 18px;
    box-shadow: 1.8px 1.8px 1px rgba(0, 0, 0, 0), 0px 0px 1.8px rgba(13, 13, 13, 0);
  }
input[type=range]::-ms-fill-upper {
    background: #fae693;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 18px;
    box-shadow: 1.8px 1.8px 1px rgba(0, 0, 0, 0), 0px 0px 1.8px rgba(13, 13, 13, 0);
  }
input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 197px;
    border-radius: 9px;
    background: #ec9e03;
    cursor: pointer;
    height: 15px;
  }
input[type=range]:focus::-ms-fill-lower {
    background: #fae693;
  }
input[type=range]:focus::-ms-fill-upper {
    background: #fae693;
  }
  
@media screen and (max-width: 640px) {
    input[type=range] {
        display: none;
    }

    .slidecontainer,
    .calendar,
    h4,
    p {
        display: none;
    }

    .range {
        position: relative;
        background-image: url("assets/images/range-back.png");
        height: 508px;
        width: 1300px;
        z-index: 1;
    }
    
    .range-content {
        height: 508px;
        width: 1040px;
        z-index: 1;
    }
    
    h4 {
        padding-left: 11px;
        padding-top: 32px;
        font-family: "pt_sansregular";
        font-size: 37px;
        font-weight: normal;
        color: white;
    }
    
    .main-content {
        height: 233px;
        margin: 31px 0 0 9px;
        text-align: left;
    }
    
    .video-desc {
        display: inline-block;
        width: 311px;
        height: 217px;
        padding-left: 30px;
        padding-top: 16px;
        font-family: "Segoe WP Light";
        font-size: 29px;
        font-weight: 10;
        color: white;
        background-color: #ec9e03;
        vertical-align: top;
    }
    
    .main-content video {
        display: inline-block;
        position: relative;
        top: 0;
        width: 315px;
        height: 232px;
        margin-left: -4px;
        margin-right: 30px;
        vertical-align: top;
    }
    
    input[type="button"]:first-child {
        position: absolute;
        width: 11px;
        height: 11px;      
        top: 319px;
        left: 455px;
        border: 0;
        background: url("assets/images/plus.svg") no-repeat top;
    }
    
    .twitter {
        display: inline-block;
        width: 329px;
        height: 233px;
        vertical-align: top;
        background-color: #ec9e03;
    }
    
    .twitter img {
        position: relative;
        left: 54px;
        top: 59px;
    }
    
    .number {
        position: relative;
        bottom: 99px;
        left: 286px;
        font-family: "Segoe WP Light";
        font-size: 25px;
        color: white;
    }
    
    .twitter input[type="button"]{
        position: absolute;
        width: 11px;
        height: 11px;      
        top: 319px;
        left: 1138px;
        border: 0;
        background: url("assets/images/plus.svg") no-repeat top;
    }
    
    .calendar {
        position: relative;
        display: inline-block;
        width: 113px;
        height: 86px;
        font-family: "Segoe UI";
        background-color: #ddb101;
    }
    
    .day {
        position: relative;
        bottom: 2px;
        left: 30px;
        font-size: 50px;
        font-weight: bold;
        color: white;
    }
    
    .month {
        position: relative;
        bottom: 13px;
        left: 32px;
        font-size: 21px;
        font-weight: normal;
        color: #b26529;
    }

}


/* LIST */

.main-footer {
    width: 1300px;
    height: 497px;
    background-image: url("assets/images/list-back.png");
}

.main-footer-content {
    width: 1040px;
}

h5 {
    position: relative;
    padding-top: 36px;
    padding-left: 220px;
    font-family: "pt_sansregular";
    font-size: 43px;
    font-weight: 100;
    color: #f5c506;
}

.devices {
    display: inline-block;
    margin-top: 4px;
    margin-left: 8px
}

.yellow-circle {
    position: absolute;
    margin-left: 7px;
    margin-top: 48px;
    font-family: "pt_sans_narrowbold", "pt_sansregular";
    font-weight: bold;
    font-size: 19px;
    color: white;
}

.list {
    display: inline-block;
    position: relative;
    width: 345px;
    height: 209px;
    left: 95px;
    top: 11px;
    font-family: "open_sansregular";
    font-size: 22px;
    color: #a9a9a7;
    list-style: none;
    list-style-image: url("assets/images/mark.svg");
}

li {
    padding-top: 18px;
    padding-left: 14px;
}

/* FOOTER */
.footer {
    width: 1300px;
    height: 64px;
    background-color: #4c4c4c;
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
}

.footer-logo {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 55px;
    top: 5px;
    margin-left: 139px;
}

.footer-heading {
    position: relative;
    display: inline-block;
    bottom: 11px;
    left: 6px;
    font-family: "lucida";
    font-style: italic;
    font-size: 29px;
    font-weight: normal;
    text-align: left;
    color: #ffffff;
    text-shadow: 0px 2px 0px rgba(0,0,0,0.42);
}